#Dalli Klick configuration file

[bot]
token = "your-bot-token"
status = ""

[specification]
guild_id = "your-server-id"

[database]
host = ""
port = ""
user = ""
pass = ""
namespace = ""
database = ""